body{
    background-color: bisque;
}
h1{
    background-color: azure;
    font: bolder;
    font-size: 50px;
}
h2{
    background-color: azure;
    font:bold;
    font-size: 30px;
}
p{
    background-color: papayawhip;
    font-size: large;
}